<%- include('./partials/header') %>
<%- include('./partials/nav') %>

    <div id="container">
        <% if (todayObj.media_type === 'image') { %>
            <% console.log(todayObj.url, " in index") %>
            <img src=<%= todayObj.url %> id="apod" name="apod" alt="Apod" />
        <% } else if (todayObj.media_type === 'video') { %>
            <iframe  width="854" height="480" 
                src=<%= todayObj.url %>>
            </iframe>
        <% } %>
    
        <div id="apod-info">
            <% console.log(todayObj.photographer, " ::todayObj.photographer") %>
            <!-- title  -->
            <h1 id="image-title"><%= todayObj.title %></h1>
            <!-- photographer  -->
            <% if (todayObj.photographer === undefined) { %>
                <h3 id="photographer-name">NASA</h3>
            <% } else { %>
                <h3 id="photographer-name"><%= todayObj.photographer %></h3>
            <% } %>
            <!-- date -->
            <h3 id="date"><%= todayObj.date %>  <span> (dd/mm/yyyy) </span></h3>
            <!-- image description  -->
            <p id="image-description"><%= todayObj.imageDescription %></p>
    
            <!-- IMAGE SLIDE -->
            <div id="image-slide">
                <!-- previous image  -->
                <div id="previous-img-container">
                    <% if (yesterdayObj.media_type === 'image') { %>
                        <img src=<%= yesterdayObj.url %> alt="previous-image" id="previous-image"/>
                    <% } else if (yesterdayObj.media_type === 'video') { %>
                        <iframe  width="150" height="150" 
                            src=<%= yesterdayObj.url %>>
                        </iframe>
                    <% } %>
                    <a href="/yesterday">previous image</a>
                </div>

                <!-- current image  -->
                <div id="current-img-container">
                    <% if (todayObj.media_type === 'image') { %>
                        <img src=<%= todayObj.url %> alt="current-image" id="current-image"/>
                    <% } else if (todayObj.media_type === 'video') { %>
                        <iframe  width="150" height="150" 
                            src=<%= todayObj.url %>>
                        </iframe>
                    <% } %>
                    <a href="/">current image</a>
                </div>
            </div>
        </div>
    </div>



<%- include('./partials/footer') %>