<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy Picture of the Day | APOD</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <nav>
        <a href="/" id="logo">NASA's Astronomy Image of the Day</a>
    </nav>


    <% if (yesterdayObj.media_type === 'image') { %>
        <img src=<%= yesterdayObj.url %> alt=<%= yesterdayObj.title %> id="apod" name="apod"/>
    <% } else if (yesterdayObj.media_type === 'video') { %>
        <iframe  width="854" height="480" 
            src=<%= yesterdayObj.url %>>
        </iframe>
    <% } %>




    <div id="apod-info">
        <h1 id="image-title"><%= yesterdayObj.title %></h1>
        <h3 id="photographer-name"><%= yesterdayObj.photographer %></h3>
        <h3 id="date"><%= yesterdayObj.date %></h3>

        <p id="image-description"><%= yesterdayObj.imageDescription %></p>

        <div id="image-slide">
            <!-- current image  -->
            <% if (yesterdayObj.media_type === 'image') { %>
                <img src=<%= yesterdayObj.url %> alt=<%= yesterdayObj.title %> alt="current-image" id="current-image"/>
            <% } else if (yesterdayObj.media_type === 'video') { %>
                <iframe  width="420" height="315" 
                    src=<%= yesterdayObj.url %>>
                </iframe>
            <% } %>
            <!-- next image  -->
            <% if (todayObj.media_type === 'image') { %>
                <img src=<%= todayObj.url %> alt=<%= todayObj.title %> alt="next-image" id="next-image"/>
            <% } else if (todayObj.media_type === 'video') { %>
                <iframe  width="420" height="315" 
                    src=<%= todayObj.url %>>
                </iframe>
            <% } %>
        </div>
    </div>

    <footer>
        <ul>
            <li>FAQ</li>
            <li>Created by: Claudia Arias</li>
            <li>Contact</li>
        <ul>


    </footer>
</body>
</html>