<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy Picture of the Day | APOD</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <nav>
        <a href="/" id="logo">NASA's Astronomy Image of the Day</a>
    </nav>

    <img src=<%= yesterdayObj.hdurl %> alt=<%= yesterdayObj.title %> id="apod" name="apod"/>

    <div id="apod-info">
        <h1 id="image-title"><%= yesterdayObj.title %></h1>
        <h3 id="photographer-name"><%= yesterdayObj.photographer %></h3>
        <h3 id="date"><%= yesterdayObj.date %></h3>

        <p id="image-description"><%= yesterdayObj.imageDescription %></p>

        <div id="image-slide">
            <img src=<%= yesterdayObj.hdurl %> alt="current-image" id="current-image">
            <a href="/"><img src=<%= todayObj.hdurl %> alt="next-image" id="next-image"></a> 
        </div>
    </div>

    <footer>
        <ul>
            <li>FAQ</li>
            <li>Created by: Claudia Arias</li>
            <li>Contact</li>
        <ul>


    </footer>
</body>
</html>